@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&family=Outfit:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: #FAF3E0;
  color: #264653;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
}